.col-sm {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

@media (max-width: 767.98px) {
  .col-sm {
    align-items: center;
    width: 100%;
  }
}

/*# sourceMappingURL=col-sm.css.map */
