@import '../variables';

.btn-primary-scale{
    color: $text-color-secondary;
    background-color: $secondary-color-four;
    font-size: $btn-text;
}

.btn-primary-scale:hover{
    background-color: $secondary-color-five;
    transition: all 1s ease 0s;
    transform: scale(1.05);
}

.btn-primary-scale:active{
    background-color: $color-four;
}