@import '../variables';

.btn-secondary{
    color: $text-color-secondary;
    background-color: $color-one;
    font-size: $btn-text;
}

.btn-secondary:hover{
    background-color: $color-five;
    transition: all 0.5s ease 0s;
}

.btn-secondary:active{
    background-color: $color-four;
}