@import '../variables';

.btn-primary{
    color: $text-color-secondary;
    background-color: $color-four;
    font-size: $btn-text;
}

.btn-primary:hover{
    background-color: $color-five;
    transition: all 0.5s ease 0s;
}

.btn-primary:active{
    background-color: $color-four;
}