@import '../variables';

.btn{
    min-height: 5vh;
    height: auto;
    width: 100%;
    min-width: 5vh;
    margin:2vh 2vh 2vh 2vh;
    border: none;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@media(max-width: 767.98px) {
   .btn{
        height: 7vh;
   }
    
   
}