
$background-color: #ffff;

$text-color-primary: rgb(0, 0, 0);
$text-color-secondary: #ffff;

$btn-text: 16px;

$color-one: #290648;
$color-two: #3d0568;
$color-three: #80076e;
$color-four: #d01f4b;
$color-five: #ff0279;
$color-six: #ff4f4f;

$secondary-color-one: #0a032d;
$secondary-color-two: #260941;
$secondary-color-three: #291548;
$secondary-color-four: #46316c;
$secondary-color-five: #514180;
$secondary-color-six: #392974;
$secondary-color-seven: #28264e;

$color-danger: #cf0f0fcc;
$color-danger-fade: #b40d0d;

$color-success: #089b21e1;
$color-success-fade: #077e1bfa;

$color-warning: #ffc107;
$color-warning-fade: #ce9e0e;