@import './variables';

// APP
@import './app/header';
@import './app/main';
@import './app/aside';
@import './app/content';

// Button
@import './buttons/btn-primary';
@import './buttons/btn-primary-scale';
@import './buttons/btn-secondary-scale';
@import './buttons/btn-secondary';
@import './buttons/btn-danger';
@import './buttons/btn-success';
@import './buttons/btn-warning';
@import './buttons/btn-animation-one';
@import './buttons/btn-animation-two';
@import './buttons/btn';

// Layout
@import './layout/container';
@import './layout/col-sm';
@import './layout/col';
@import './layout/row';

body{
    margin: 0;
    padding: 0;
    background-color: rgba(173, 170, 170, 0.459);
}

