.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 10vh 90vh;
      grid-template-rows: 10vh 90vh;
      grid-template-areas: "h h" "a m";
}

@media (max-width: 767.98px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 10vh 10vh 80vh;
        grid-template-rows: 10vh 10vh 80vh;
        grid-template-areas: "h h" "a a" "m m";
  }
}

header {
  background-color: #290648;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  color: #ffff;
  padding-left: 15px;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: m;
}

.primary-button {
  height: 5vh;
  width: 80%;
  margin-top: 2vh;
  background-color: #d01f4b;
  color: #ffff;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  padding-left: 15px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.primary-button:hover {
  background-color: #ff0279;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.primary-button:active {
  background-color: #d01f4b;
}

aside {
  background-color: #3d0568;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  aside button {
    margin-left: 2vh;
    width: 15vh;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
}
/*# sourceMappingURL=style.css.map */