.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}


@media(max-width: 767.98px) {
    .container{
        flex-direction: column;
        align-items: center;
        //margin-top: 2vh;
    }
}