@import '../variables';

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media(max-width: 767.98px) {
   
    .row{
        width: auto;
        flex-direction:column;
        flex-wrap: nowrap;
        margin-right: 2vh;
        align-items: center; 
    }

}