@import '../variables';

aside{
    background-image: linear-gradient($color-one, $color-two, $secondary-color-four);
    grid-area: a;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0vh 2vh 0vh 2vh;
}

