@import '../variables';

.content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 90vh ;
    grid-template-areas: "a h"
                        "a m";
}


@media(max-width: 767.98px) {
    .content{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 10vh 10vh 80vh ;
        grid-template-areas: "h h"
                            "a a"
                            "m m";
    }

}
