@import '../variables';

header{
    background-image: linear-gradient($color-one, $color-two, $secondary-color-four);
    grid-area: h;
    display: flex;
    align-items: center;
    p{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        color: $text-color-secondary;
        padding-left: 15px;
    }
}
